h1 {

    font-weight: bold;
    margin: 0;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 200px;
}

form {
    background-color: #fffcf9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: rgba(228, 228, 228, 0.995);
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 50px;

    border-style: solid;
    border-color: rgba(104, 104, 104, 0.549);
}

.user {
    box-shadow: 10px 10px 5px rgba(78, 78, 78, 0.33);
    background: url(face-smile-regular.svg) no-repeat left;
    /* background-position: 15px 10px;  */
    background-position-x: 15px;
    background-position-y: 11px;
    background-size: 15px;
    padding-left: 50px;
    background-color: rgba(228, 228, 228, 0.995);
}

.user:hover{
    font-weight: bolder; 
}

.pass:hover{
    font-weight: bolder; 
}

.pass {
    box-shadow: 10px 10px 5px rgba(78, 78, 78, 0.33);
    background: url(spaghetti-monster-flying-solid.svg) no-repeat left;
    background-position-x: 15px;
    background-position-y: 11px;
    background-size: 20px;
    padding-left: 50px;
    background-color: rgba(228, 228, 228, 0.995);
}

.regbutton {
    background-color: #ff6464fe;
    font-weight: bold;
    box-shadow: 10px 10px 5px rgba(78, 78, 78, 0.33);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.549);
    cursor: pointer; 
}


.regbutton:hover {
    background-color: #eec0fffe;
    color: rgb(0, 0, 0); 
}

body {

    background: #fffcf9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
    height: 100vh;
    margin: -20px 0 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;

    margin-top: 190px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(255, 69, 69, 0.599),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;

    border-style: solid;
    border-color: rgba(0, 0, 0, 0.549);
}

.form-container {
    position: absolute;
    top: 0;
    height: 80%;


    width: 354px;
}


.sign-in-container {
    right: 0;
    /*Set 150 pixels from nearest ancestor*/
    width: 50%;
    z-index: 2;
    /*Elements of a higher index on top of elements of a lower index*/
    text-align: center;
    background-color: #fffcf9;
}

.sign-in-container .sign-in {
    height: 0px;
    margin-top: 60px;

}

.overlay-container {
    position: absolute;
    top: 0;
    right: 50%;
    width: 50%;
    height: 100%;
    /* overflow: hidden; */
    /*Decides whether to clip content or add scrollbars*/
}

.overlay {
    background: linear-gradient(to right, #ff3333, rgba(255, 109, 109, 0.995));
    color: #FFFFFF;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 100%;
    text-align: center;

}

.overlay h1 {
    writing-mode: vertical-rl;
    font-size: 45px; 
    font-weight:lighter; 
    color: rgb(255, 255, 255);  
    letter-spacing:4px;
    text-shadow:5px 2px rgba(8, 8, 8, 0.396);
}

.overlay h2 {
    position: absolute;  
    padding-left: 20%; 
    line-height: 50px; 
    color: rgb(255, 255, 255); 
    text-shadow:5px 2px rgba(0, 0, 0, 0.559);

}



@font-face {

    font-family: christmas; 
    src: url(MountainsofChristmas-Regular.ttf)

}

@font-face {

    font-family: gugi; 
    src: url(Gugi-Regular.ttf);
}

@font-face {
    font-family: press-start; 
    src: url(PressStart2P-Regular.ttf);
}

.math {
    font-family: gugi; 
    letter-spacing: 5px; 
    font-size: 30px; 
}
.art {
    font-family: christmas; 
    letter-spacing: 5px; 
    font-size: 40px; 
}

.electronic {
    font-family: press-start; 
    letter-spacing: 5px; 
    font-size: 20px; 

}


.container2 {
    position: absolute; 
    z-index: 0; 
    top: 0; 
    left: 0; 
}

.new a:hover{
    color: #eec0fffe;
}

.new a{
    text-decoration: none; 
    color: rgb(255, 0, 0); 
}

.remember{
    cursor: pointer;

}

