hr {
    border: 10px solid rgba(221, 221, 221, 0.995);

    ;
    width: 80%; 
    margin-left: auto;
    margin-right: auto;

}

body h2{
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 30px; 

}

.calcul {
    text-align: center;
    font-family: monospace; 
    color: red; 
    font-size: 55px; 
}

.art {
    padding-left: 10px; 
    font-family:script; 
    font-size: 85px; 
    color: red; 

}

body {
    background: #fffcf9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
}

form {
    width: 300px;
    border: 10px solid rgba(213, 213, 213, 0.995);
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
    border-radius: 20px; 
    
    padding-top: 3em;
    /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    text-align: center; 
    font-weight: 200; 
}


@font-face {

    font-family: script; 
    src: url(DancingScript-VariableFont_wght.ttf)

}